@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Libre+Baskerville:ital@1&family=Ms+Madi&family=Nunito:wght@200;300;400;500&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,200&family=Rubik+Moonrocks&family=Updock&family=Whisper&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: 'Nunito', sans-serif;
  background: #0059ff;
}

#quote-box {
  background: #fff;
  padding: 3rem;
  width: 40rem;
  margin: 10rem auto;/*margin: top-bottom left-right*/
  border-radius: 5px;
}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

#text p i {
  margin-right: 0.7rem;
}

#author {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.social-media {
  display: flex;
}

.social-media > a {
  margin-right: 0.5rem;
  background: #0059ff;
  padding: 0.3em 0.5rem;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
}

.social-media > a:hover {
  opacity: 0.9;
}

.social-media > a span i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  color: #fff;
  font-size: 1.5rem;
}

#new-quote {
  background: #0059ff;
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

#new-quote:hover {
  opacity: 0.9;
}